<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, et?
    </p>
  </header>
</section>

<section class="block block--dark">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, et?
    </p>
  </div>
</section>

<section class="block block--dark block--skewed-right">
  <header class="block__header container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, et?
    </p>
  </header>
</section>

<section class="block block--dark block--skewed-left">
  <h2 class="block__heading">Heading</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, et?
  </p>
</section>
